<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    {{ghost_head}} {{! Outputs SEO meta tags and scripts }}
</head>
<body class="{{body_class}}">

    <header>
        <h1><a href="{{@site.url}}">{{@site.title}}</a></h1>
        <p>{{@site.description}}</p>
    </header>

    <main>
        {{{body}}} {{! This is where index.hbs or post.hbs is injected }}
    </main>

    <footer>
        &copy; {{date format="YYYY"}} {{@site.title}} | <a href="{{@site.url}}/rss/">RSS Feed</a>
    </footer>

    {{ghost_foot}} {{! Outputs required scripts }}
</body>
</html>
