{{!< default}}

{{#post}}
	<div class="full">
		<h1>{{title}}</h1>
		<h2>Published <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></h2>
		{{#if feature_image}} <!-- Show feature image if it exists -->
			<figure class="kg-card kg-image-card kg-card-hascaption">
				<img class="kg-image" src={{feature_image}} alt={{feature_image_alt}}>
				{{#if feature_image_caption}} <!-- Show feature image caption if it exists -->
					<figcaption>
						<span style="white-space: pre-wrap;">{{feature_image_caption}}</span>
					</figcaption>
				{{/if}}
			</figure>
		{{/if}}
		<br />
		<p>This article is a <b>{{reading_time}}</b>.</p>
		<p>{{content}}</p>
		<hr>
		<p>Last updated <time datetime="{{date updated_at format="YYYY-MM-DD"}}">{{date updated_at format="D MMM YYYY"}}</time></p>
		<nav>
			{{#if tags}}
					<h3>Tags</h3>
					{{#foreach tags}}
						<a class="small-nav-link" href="#">{{name}}</a> <!-- Tag searching to be implemented -->
					{{/foreach}}
			{{/if}}
			
			{{#next_post}}
				<p><b>Next: </b><a href="{{url}}">{{title}}</a></p>
			{{/next_post}}

			{{#prev_post}}
				<p><b>Previous: </b><a href="{{url}}">{{title}}</a></p>
			{{/prev_post}}
		</nav>
	</div>
{{/post}}