{{!< default}}

{{#post}}
<h1>{{title}}</h1>
<h2><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></h2>
<p>{{content}}</p>
{{/post}}

{{!< default}}

<div class="small">
	<nav>
		<div>latest posts...</div>
		        {{#foreach posts}}
			    <a href={{url}}>{{title}}</a>
			{{/foreach}}
	</nav>
</div>

<div class="large">
	{{#post}}
		<h1>{{title}}</h1>
		<p>{{content}}</p>
	{{/post}}
</div>